.editBtn{
    z-index: 0;
}

.tableScroll{
    width: 98% !important;
    position: relative;
    overflow-y: auto;
    height: 27rem;
    margin-top: 2rem;
    padding: 0 .5rem;
}

.normalWidth{
    width: 70rem;
}